@import "./theme/theme.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
}